body{
    background-color: #183866 !important;
}
.list-group{
    margin: 10%;
}
#blockLog{
    background-color: #102542;
    margin: 11% 35% 12% 35%;
    padding: 2%;
    box-shadow: 0px 0px 17px #00000047;
    text-align: center;
}
.navbar{
    background-color: #102542;
}
input{
    background-color: #183866 !important;
}
*{
    color: white !important;
    font-family: Ubuntu;
}